html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.container {
  margin: 10%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.form {
  white-space: nowrap;
  border: 1px solid;
  font-size: 18px;
  padding: 3vh 0;
}

.form-input {
  padding: 5% 2% 5% 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.clear {
  clear: both;
}

.text-field {
  display: flex;
  flex-direction: column;
}

label {
  border-right: 1px solid;
  padding: 5px;
}

input[type="text"] {
  margin-left: 0.4rem;
  width: 100%;
  padding: 14px 15px;
  border: none;
  color: #000000;
  background-color: #f3f3f3;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 17px;
  float: right;
  width: 100%;
}

option {
  text-align: right;
}

input:focus,
select:focus {
  border: none;
  outline: none;
}

#credentials {
  background-color: #cccccc;
}

p {
  margin-left: 50%;
}

.btn {
  margin-top: 10%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

input[type="button"] {
  padding: 0.5rem 4rem;
  border: none;
  background-color: #6fa8dc;
  font-size: 18px;
  font-weight: lighter;
}

.float-right {
  width: 100%;
}
select {
  border: none;
}

input[type="submit"] {
  padding: 0.5rem 4rem;
  border: none;
  background-color: #6fa8dc;
  font-size: 18px;
  font-weight: lighter;
}

.success {
  color: #006400;
}

.error {
  color: #ff0000;
}
